.container-fluid.user-details {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .text-center {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
  }
  